* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: #f8f8f8;
}


@font-face {
  font-family: 'MyFont';
  src: url('myfont.woff') format('woff');
}






#main{
    width: 100%;
    height: 100%;
    /* background-color: #f8f8f8; */
    padding: 0.1px;

}

    #nav{
        width: 100%;
        height: 10vh;
        margin-top:50px ;
        /* background-color: red; */
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        display: flex;
        align-items:center;
        justify-content: space-between;
      
    }
        #nav h2{
            /* background-color: yellow; */
            height: 100%;
            width:16%;
            display: flex;
            align-items: center;
            justify-content: center;
            letter-spacing: 1px;
            border-right: 2px solid  black;
            font-size:18px;
            font-weight:550;
            padding-right: 65px;


        }



        #nav h1{
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            /* background-color: yellow; */
            height: 100%;
            width:16%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size:45px;
            padding-left: 100px;
            padding-bottom: 10px;
            font-weight:900;
             letter-spacing: -2.5px;

        }


            #nav h1::after{
                content: "©";
                font-weight:100;
                font-size: 20px;
                position: absolute;
                left: 16.8vw;
                top: 8.9vh;
                color: gray;

            }
             #nav h1::before{
                content: "MODEL MANEGMENT";
                font-weight:200;
                letter-spacing: 1px;
                font-size: 13px;
                position: absolute;
                left: 7vw;
                top: 14vh;
                color: gray;

            }

            #nav h2:nth-last-child(2){
            width: 20%;
             }

             #nav h2:nth-last-child(1){
            padding-right: 200px;
            font-weight: 600;


             }


    #center{
        height: 90%;
        width: 100%;
        /* background-color: red; */
        padding: 4vw;
        position: relative;
    }

        
        #content{
            width: 100%;
            height: 100%;
            /* background-color: blue; */
            position: relative;
        }

        #content video{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

            #overlay{
                width: 100%;
                height: 55%;
                /* background-color: red; */
                position: absolute;
                bottom: 0%;
                padding: 3vw;
                color: #ffffff;
                 
            }
             

                #over-one{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 1vw ;
                   
                  
                     
                }

                  #over-one h1{
                      font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                      font-size: 3vw;
                      font-weight: 10;
                     
                    }
                    
                 #over-one h2{
                      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                      font-size: 1.8vw;
                      padding: .8vw;
                      font-weight: 400;
                      /* background-color: red; */
                      border-radius: 50%;
                      border: 1px solid rgb(255, 255, 255);

                     transition: ease 0.2s;
                      /* border-bottom: 2px solid #ffffff; */
                    }

                        #over-one h2:hover{
                            border: 2px solid white;
                        }
            
                #over-two{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-top:2px  solid #ffffff;
                    padding:-2px;
                    padding-top: 20px;
                    padding-left: 15px;
                }

                #over-two image{
                    height: 3vw;
                }
            
                #over-two h4{
                        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
                }

    
    #scroll{
        height: 20vw;
        width: 100%;
        /* background-color: aquamarine; */
        white-space:nowrap;
        overflow-y: hidden;
        overflow-x: hidden;
    }

        #scroll img{
            /* display: none; */
            height: 85%;
            border-radius: 50%;
            width: 17%;
            object-fit: cover;
            margin: 1.5vw;
            padding: 2.5vw;
         
        }
                #scroll img:nth-last-child(1){
                 object-position: top;
                }

            #container{
                height: 100%;
                width: 100%;
                /* background-color:#f8f8f8;    */
                display: inline-block;
                animation-name: anime;
                animation-duration: 10s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
            }


            @keyframes anime{
                from{
                    transform: translateX(0%);
                }

                to{
                    transform: translateX(-100%);
                }
            }
    
    
    #alphabat{
        height: 10vh;
        width: 100%;
        /* background-color: red; */
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1vw;
        font-family:Georgia, 'Times New Roman', Times, serif;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
    }

      
        #alphabat  h5{
            font-size: 1.7vw;
            text-transform: uppercase;
            font-weight: 400;
            font-style: italic;
            letter-spacing: 4px;
            border-bottom: 2px  solid #000;
            margin-right: 2vw;

        }

        #alphabat  h6{
            font-size: 1vw;
            text-transform: uppercase;
            font-weight: 400;
            font-style: italic;
            letter-spacing: 4px;
            /* background-color: yellow; */
            padding: 0.5vw 0.6vw;
            border-radius: 50%;
            border: 1px solid rgba(0, 0, 0, 0);
            cursor: pointer;
            transition: ease 0.2s;
        }

              #alphabat h6:hover{
                border: 1px solid black;
              }

               


    #page2{
        width: 100%;
        height: 100%;
        /* background-color: aqua; */
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2vw 5vw;
       
    }


        #page01{
            width: 50%;
            height:100%;
            /* background-color: aquamarine; */
            
        }

            #page01 img{
                width: 100%;
                height: 80%;
                /* margin: 3.5vw; */
                object-fit: cover;
                object-position: top;
                }


                
                    #page01 img:hover{
                        border: 1px solid black;
                    }


          


             #page02{
            width: 40%;
            height: 100%;
            /* background-color: rgb(1, 23, 16); */
            object-fit: cover;
            
            }

                 #page02 img{
                width: 100%;
                height: 90%;
                 /* margin: 3.5vw; */
                object-fit: cover;
                object-position: bottom ;
                border: 1px solid rgba(0, 0, 0, 0);  
                transition: ease 1s;
                
                }


                    #page02 img:hover{
                        border: 1px solid black;
                    }
                
               
                #text01 h3{
                    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                    font-weight: 900;
                    letter-spacing:3px;
                    font-size:35px;
                    padding-top: 10px;
                    font-style:oblique;
                }


                #text02{
                    font-style: italic;
                    font-size: 15px;
                    display: flex;
                    
                    justify-content: space-between;
                    padding-top: 1vw ;
                }


    #page3{
        height: 100%;
        width: 100%;
        /* background-color: blueviolet;   */
        display: flex;
        justify-content: center;
        padding: 4vw;
        
        
    }

        #page31{
            width: 70%;
            height: 100%;
            /* background-color: aliceblue; */
            padding-left: 3.5vw;
            padding-top: 2vw;
        }

            #page31 img{
                width:40%;
                height: 70%;
                object-fit: cover;
                position:absolute;
                transition: ease 1s;
               
            }
            #hy{
           position: relative;
           top: 27vw ;
           left: 13vw;
           }
            #hy h5{
            font-style: italic;
            font-size: 12px;
           }
          
            #page32{
            width: 50%;
            height: 100%;
            /* background-color: black; */
            background-image: url(katsiaryna-endruszkiewicz-BteCp6aq4GI-unsplash.jpg);
            background-size:cover ;
            background-position:center;

           }

    #page4{
        width: 100%;
        height: 100%;
        /* background-color: black ; */
        padding: 2vw 3vw;
     
    }

        

       #page4 img{
        width: 100%;
        height: 70%;
        object-fit: cover;
        transition: ease 2s;
         }  

        #page4 img:hover{
            border: 1px solid black;
        }


        #page4 h3{
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: 90px;
            letter-spacing: 25px;
            padding-left: 30vw;
            padding-top: 100px;
            margin-bottom: 5vh;
           
        }
    #page5{
        width: 100%;
        height: 80%;
        /* background-color: #000; */
        padding-left: 15vw;
        

        
    }

        .elme{
            height: 8vw;
            width: 80%;
            display : flex;
            align-items: center;
            justify-content: space-between;
            border-top: 2px solid black;
            padding: 0vw 2vw;  
            position: relative;          
        }
    
            .elme:nth-last-child(1){
                border-bottom: 2px solid black;
            }


        .elme h4{
            font-size: 1.1vw;
            text-transform: uppercase;
            font-weight: 500;
            width: 6%;
        }


       .elem2{
        width: 45%;
        /* background-color: red; */
            
        }

            .elem2 h1{
                font-size: 2 .5vw;
                font-weight: 500;
            }


            .elem2 h5{
                font-size: 1vw;
                font-weight: 500;
                text-transform: uppercase;
            }


    
    .elme img{
        position: absolute;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        object-fit: cover;
        left: 10%;
        opacity: 0;
        transition: all ease 1s;
    }

    .elme:hover img{
        opacity: 1;
        left: 20%;
       

    }

     .elme:hover{
         background-color: #edecec;
         
     }


     #marque{
        /* height: 20vh; */
        width: 100%;
        /* background-color: red; */
        white-space: nowrap;
        padding: 1vw;
        overflow-x: hidden;
        overflow-y: hidden;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
       

     }

        #marque h1{
            display: inline-block;
            font-size:2.5vw;
            text-transform: uppercase;
            font-weight: 900;
            -webkit-text-stroke: 1.5px black;
            color: transparent;
            margin-right: 16px;
            letter-spacing: 2px;
             animation-name: move;
             animation-duration: 3s;
             animation-iteration-count: infinite;
             animation-timing-function: linear;
           
        }


        @keyframes move {
            from{
                transform: translateX(0);
            }

            to{
               transform: translateX(calc(-100% - 20px));
            }
                
            
        }



        #footer{
            width: 100%;
            height: 50%;
            /* background-color: blue ; */
            display: flex;
        }
           
          
        


            #ll{
                width: 40%;
                height: 80%;
                /* background-color: red; */
                display: flex;
                border-right: 2px solid black;
                border-bottom: 2px solid black;
            }

                #ll h1{
                    
                    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    /* background-color: yellow; */
                    height: 100%;
                    width:16%;
                    font-size:45px;
                    font-weight:900;
                    letter-spacing: -2.5px;
                    padding-left: 3vw;
                    padding-top: 3vw;
                }

                #ll h1::after{
                content: "©";
                font-weight:100;
                font-size: 20px;
                position: relative;
                left:0.9vw;
                bottom:1vw;
                color: gray;
                }


                 
               



                #ll h2{
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                    font-weight: 200;
                    position: relative;
                    left: 40%;
                    top: 22.5%;
                
                }
                   
                  


            #lm{
                 width: 30%;
                height: 80%;
                /* background-color: red;   */
                 border-right: 2px solid  black;
                border-bottom: 2px solid black;  

            }


            #lm h2{
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                font-weight: 200;
                position: relative;
                left: 35%;
                top: 22.2%;
               
            
            }

             #lr{
                 width: 30%;
                height: 80%;
                /* background-color: red; */
                border-bottom: 2px solid black;
                overflow-x: hidden;
            }

                #top{
                    width: 100%;
                    height: 40%;
                    /* background-color: #000; */
                    border-bottom: 2px solid black;
                }

                    #top h2{
                           font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                           font-weight: 200;
                           position: relative;
                           top: 52%;
                           left: 40%;
                    }


    /* @media (max-width)
            {

            } , [FOR RESPONSIVE]*/ 


            

                    



   
                


        



   



           

              

           
            


          
          

            
                    



            




             